In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame({"gruplar":["a","b","c","a","b","c"],
                "degiskenler1":[10,23,33,22,11,99],
                "degiskenler2":[100,253,333,262,111,969]},columns=["gruplar","degiskenler1","degiskenler2"])
df

  gruplar  degiskenler1  degiskenler2
0       a            10           100
1       b            23           253
2       c            33           333
3       a            22           262
4       b            11           111
5       c            99           969

### sum() > 33 olan sonuçların bize getirilmesi için bi fonk. yazıp filter a gönderdik

In [7]:
def filter_funk(x):
    return x["degiskenler1"].sum()>33

In [8]:
df.groupby("gruplar").filter(filter_funk)

  gruplar  degiskenler1  degiskenler2
1       b            23           253
2       c            33           333
4       b            11           111
5       c            99           969