In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({"gruplar":["a","b","c","a","b","c"],
                "degiskenler1":[10,23,33,22,11,99],
                "degiskenler2":[100,253,333,262,111,969]},columns=["gruplar","degiskenler1","degiskenler2"])
df

  gruplar  degiskenler1  degiskenler2
0       a            10           100
1       b            23           253
2       c            33           333
3       a            22           262
4       b            11           111
5       c            99           969

# TRANSFORM İŞLEMİ

In [4]:
af=df.iloc[:,1:3]
af

   degiskenler1  degiskenler2
0            10           100
1            23           253
2            33           333
3            22           262
4            11           111
5            99           969

In [24]:
af=af.transform(lambda x: (x-x.mean())/x.std())
af

   degiskenler1  degiskenler2
0     -0.687871     -0.738461
1     -0.299074     -0.263736
2      0.000000     -0.015514
3     -0.328982     -0.235811
4     -0.657963     -0.704331
5      1.973890      1.957853