In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.DataFrame({"gruplar":["a","b","c","a","b","c"],
                "degiskenler1":[10,23,33,22,11,99],
                "degiskenler2":[100,253,333,262,111,969]},columns=["gruplar","degiskenler1","degiskenler2"])
df

  gruplar  degiskenler1  degiskenler2
0       a            10           100
1       b            23           253
2       c            33           333
3       a            22           262
4       b            11           111
5       c            99           969

# apply fonksiyonu

In [22]:
df.groupby("gruplar").apply(np.sum)

        gruplar  degiskenler1  degiskenler2
gruplar
a            aa            32           362
b            bb            34           364
c            cc           132          1302

In [23]:
df.groupby("gruplar").apply(np.mean)

C:\Users\Lenovo\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
C:\Users\Lenovo\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

         degiskenler1  degiskenler2
gruplar
a                16.0         181.0
b                17.0         182.0
c                66.0         651.0