In [1]:
import numpy as np
import pandas as pd

In [5]:
a=np.random.randint(1,50,(10,3))
a

array([[29,  6, 30],
       [ 5, 27,  9],
       [42, 32, 23],
       [20, 12, 11],
       [48, 34,  7],
       [21, 16, 29],
       [44,  3,  9],
       [ 4, 44, 15],
       [ 3, 46, 26],
       [40, 12, 48]])

In [7]:
df=pd.DataFrame(a,columns=["var1","var2","var3"])
df

   var1  var2  var3
0    29     6    30
1     5    27     9
2    42    32    23
3    20    12    11
4    48    34     7
5    21    16    29
6    44     3     9
7     4    44    15
8     3    46    26
9    40    12    48

# loc tanımlandığı şekliyle seçim yapmak için kullanılır

In [18]:
af=df.copy()
af

   var1  var2  var3
0    29     6    30
1     5    27     9
2    42    32    23
3    20    12    11
4    48    34     7
5    21    16    29
6    44     3     9
7     4    44    15
8     3    46    26
9    40    12    48

In [19]:
af.loc[0:3]

   var1  var2  var3
0    29     6    30
1     5    27     9
2    42    32    23
3    20    12    11

In [28]:
af.loc[0:2,"var1"]

0    29
1     5
2    42
Name: var1, dtype: int32

In [29]:
af.loc[3:8,"var1":"var2"]

   var1  var2
3    20    12
4    48    34
5    21    16
6    44     3
7     4    44
8     3    46

In [32]:
af.loc[[3,5],["var1","var3"]]

   var1  var3
3    20    11
5    21    29

# iloc alışılmış indeksleme mantığı ile çalışır.

In [22]:
bf=df.copy()
bf

   var1  var2  var3
0    29     6    30
1     5    27     9
2    42    32    23
3    20    12    11
4    48    34     7
5    21    16    29
6    44     3     9
7     4    44    15
8     3    46    26
9    40    12    48

In [23]:
bf.iloc[0:3]

   var1  var2  var3
0    29     6    30
1     5    27     9
2    42    32    23

In [24]:
bf.iloc[5,2]

29

In [25]:
bf.iloc[:2,[1,2]]

   var2  var3
0     6    30
1    27     9

In [26]:
bf.iloc[[1,8],[2]]

   var3
1     9
8    26

### arg isimleriyle locasyon belirlemek için loc kullanılır yoksa aşağıdaki gibi hata alınır

In [35]:
bf.iloc[[3,5],["var1","var3"]]

IndexError: .iloc requires numeric indexers, got ['var1' 'var3']