In [1]:
import numpy as np
import pandas as pd

In [4]:
a=np.random.randint(1,48,(8,3))
a

array([[ 2, 15, 19],
       [36, 46, 15],
       [37,  5, 40],
       [ 4, 41,  8],
       [42,  9, 35],
       [29,  2, 33],
       [41, 40, 46],
       [23, 12, 25]])

In [5]:
af=pd.DataFrame(a,columns=["var1","var2","var3"])
af

   var1  var2  var3
0     2    15    19
1    36    46    15
2    37     5    40
3     4    41     8
4    42     9    35
5    29     2    33
6    41    40    46
7    23    12    25

In [7]:
af["var1"]

0     2
1    36
2    37
3     4
4    42
5    29
6    41
7    23
Name: var1, dtype: int32

In [8]:
af["var2"][0:3]

0    15
1    46
2     5
Name: var2, dtype: int32

In [10]:
af.loc[3:6,["var2"]]

   var2
3    41
4     9
5     2
6    40

In [18]:
af[af.var2>20]

   var1  var2  var3
1    36    46    15
3     4    41     8
6    41    40    46

## şartımızla birlikte kolon bilgiside istersek hata alıyoruz

In [26]:
af[(af.var3%2==0) & (af.var1<5)["var1","var3"]]

KeyError: 'key of type tuple not found and not a MultiIndex'

# bu şekilde hata almayız

In [29]:
af[(af.var3%2==0) & (af.var1<5)] [["var1","var3"]]

   var1  var3
3     4     8

## istediğimiz sartlarla birlikte istediğimiz kolonları da loc yardımıyla aldık

In [30]:
af.loc[(af.var3%2==0) & (af.var1<5),["var1","var3"]]

   var1  var3
3     4     8