In [1]:
import pandas as pd
import seaborn as sns
planets=sns.load_dataset("planets")
df=planets.copy()

In [2]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [6]:
# hiç eksik değişken var mı?
df.isnull().values.any()

True

In [8]:
# hangi eksik değerden kaçar tane var?
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [9]:
# eksik değerlere geçici çizim
#tüm eksik değerlere 0 basabiliriz
# df[column name].fillna(0,inplace=True)

In [10]:
df["orbital_period"].fillna(0,inplace=True)

In [11]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [13]:
# ortalama ile doldurabiliriz
df["mass"].fillna(df["mass"].mean(),inplace=True)

In [14]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [19]:
# verideki tüm eksik değerleri ortalama ile doldurabiliriz
df.fillna(df.mean(),inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12800\3623817183.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(),inplace=True)

In [20]:
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64