In [40]:
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include = ['float64', 'int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [41]:
dt=df.copy()

In [46]:
!pip install ycimpute

Requirement already satisfied: ycimpute in c:\users\lenovo\anaconda3\lib\site-packages (0.2)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from ycimpute) (1.7.3)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\lenovo\anaconda3\lib\site-packages (from ycimpute) (1.0.2)
Requirement already satisfied: numpy>=1.10 in c:\users\lenovo\anaconda3\lib\site-packages (from ycimpute) (1.21.5)
Requirement already satisfied: torch>=1.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ycimpute) (1.12.1)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (2.2.0)
Requirement already satisfied: typing-extensions in c:\users\lenovo\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (4.1.1)

# KNN algoritmasıyla eksik değerleri doldurma

In [47]:
from ycimpute.imputer import knnimput

In [48]:
var_names=list(df)
var_names

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

In [49]:
n_df=np.array(df)
n_df[:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [50]:
dff=knnimput.KNN(k=4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.144
Imputing row 101/891 with 0 missing, elapsed time: 0.144
Imputing row 201/891 with 0 missing, elapsed time: 0.144
Imputing row 301/891 with 1 missing, elapsed time: 0.144
Imputing row 401/891 with 0 missing, elapsed time: 0.144
Imputing row 501/891 with 0 missing, elapsed time: 0.144
Imputing row 601/891 with 0 missing, elapsed time: 0.160
Imputing row 701/891 with 0 missing, elapsed time: 0.160
Imputing row 801/891 with 0 missing, elapsed time: 0.160

In [51]:
dff=pd.DataFrame(dff,columns=var_names)

In [52]:
type(dff)

pandas.core.frame.DataFrame

In [76]:
dff.head(10)

   survived  pclass     age  sibsp  parch     fare
0       0.0     3.0  22.000    1.0    0.0   7.2500
1       1.0     1.0  38.000    1.0    0.0  71.2833
2       1.0     3.0  26.000    0.0    0.0   7.9250
3       1.0     1.0  35.000    1.0    0.0  53.1000
4       0.0     3.0  35.000    0.0    0.0   8.0500
5       0.0     3.0  39.375    0.0    0.0   8.4583
6       0.0     1.0  54.000    0.0    0.0  51.8625
7       0.0     3.0   2.000    3.0    1.0  21.0750
8       1.0     3.0  27.000    0.0    2.0  11.1333
9       1.0     2.0  14.000    1.0    0.0  30.0708

In [54]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64