In [1]:
import seaborn as sns
tips=sns.load_dataset("tips")
df=tips.copy()
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [2]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [4]:
!pip install researchpy

Collecting researchpy
  Using cached researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.4.2)
Requirement already satisfied: statsmodels in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.13.2)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.21.5)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.7.3)
Requirement already satisfied: patsy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\lenovo\anaconda3\lib\site-packages (from statsmodels->researchpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels->researchpy) (3.0.4)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [5]:
import researchpy as rp

In [11]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [12]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

# kovaryans ve korelasyon

In [13]:
df[["total_bill","tip"]].cov()

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [14]:
df[["total_bill","tip"]].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000